<div data-type="new">
  <div class="container">
    <%= form_for :post, url: todos_path do |f| %>
      <div class="inputs">
        <p>
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.text_field :name %>
        </p>
        <%= button_tag('＋') %>
        <p>
          <%= f.submit %>
        </p>
      </div>
    <% end %>
  </div>
</div>
