<div data-type="new">
  <div class="container">
    <div class="input-box">
      <%= simple_form_for(@todo) do |f| %>
        <div class="inputs">
          <%= f.error_notification %>
          <%= f.input :first_body, label: false %>
          <%= f.input :second_body, label: false %>
          <%= f.input :third_body, label: false %>
          <%= f.button :submit,'投稿！' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
