<div data-type="new">
  <div class="container">
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %> 
    <div class="input-box">
      <%= form_for(@todo) do |f| %>
        <div class="inputs">
          <p>
            <%= f.text_field :first_body %>
          </p>
          <p>
            <%= f.text_field :second_body %>
          </p>
          <p>
            <%= f.text_field :third_body %>
          </p>
        </div>
        <p>
          <%= f.submit '投稿！' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
