<div data-type="new">
  <div class="container">
    <div class="input-box">
      <%= form_for :post, url: todos_path do |f| %>
        <div class="inputs">
          <p>
            <%= f.text_field :first_text %>
          </p>
          <p>
            <%= f.text_field :second_text %>
          </p>
          <p>
            <%= f.text_field :third_text %>
          </p>
        </div>
        <p>
          <%= f.submit '投稿！'%>
        </p>
      <% end %>
    </div>
  </div>
</div>
